.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure the navbar stays on top of other elements */
    background-color: #0B0C17; 
    box-shadow: 0 1px 3px -2px white;
}

.nav-logo{
    width: 200px;
}

.nav-profile{
    width: 75px;
}
